<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Insert title here</title>
</head>
<body>
	<h1>Spuds rule!</h1>
	<p>I like {{ variety }}</p>
	<p>You should cook these at {{ temperature }} degrees</p>
	<form action="survey">
		What kind of potato do you like?
		<select name="answer">
		<option>Russet</option>
		<option>Golden</option>
		<option>Sweet</option>
		<option>None (I'm on the keto diet)</option>
		</select>
		<button>Submit your answer</button>
	</form>
	<img		src="http://3.bp.blogspot.com/_A39cgxoHN64/TAXSaBMDIDI/AAAAAAAAFCo/_JeB-zDGY2s/s1600/twice+baked+potatoes.jpg">
		<img    src="https://www.seabreeze.com.au/Img/Photos/Other/6684675.jpg">
</body>
</html>